.section {
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    border: 2px solid blue;
    background-color: lightcyan;
}

.section__image {
    border-radius: 8px;
}

.section__title {
    text-align: center;
}

.section__description {
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

.section__wrapper {
    text-align: center;
}

.section__input {
    padding: 7px 12px;
}

.section__button {
    padding: 7px 12px;
    color: white;
    background-color: blue;
}

.section__button:hover {
    cursor: pointer;
    color: black;
    background-color: aqua;
}

.section__container {
    padding: 10px;
    list-style-type: none;
}
