@import "modules/mixins";

.container {
    padding: 20px;
    display: inline-block;
    border: 1px solid black;

    @include breakpoint('small') {
        padding: 0;
        border: none;
        display: block;
        text-align: center;
    }

    &__image {
        display: block;
        border-radius: 8px;

        @include breakpoint('small') {
            margin: 0 auto;
        }
    }

    &__title {
        color: blue;
        display: inline-block;

        &:hover {
            color: red;
            cursor: pointer;
        }
    }
}