<ul>
    <li><a href="/">Главная</a></li>
    <% if (auth) { %>
        <li><a href="/add">Добавить</a></li>
        <li>
            <form action="/logout" method="post">
                <button>Выйти</button>
            </form>
        </li>
    <% } else { %>
        <li><a href="/auth">Авторизация</a></li>
    <% } %>
</ul>
