<ul>
    <li><a href="/">Главная</a></li>
    <% if (auth) { %>
        <li><a href="/add">Добавить</a></li>
        <li><a href="/logout">Выйти</a></li> 
    <% } else { %>
        <li><a href="/auth">Авторизация</a></li>
    <% } %>
    <li><a href="/lock">Нет доступа</a></li>
</ul>
