.section {
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  border: 2px solid blue;
  background-color: lightcyan;
}

.section__image {
  border-radius: 8px;
}

.section__title {
  margin-top: 0;
  text-align: center;
}
