<!-- Изменить по аналогии с home.ejs -->
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nature</title>

        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/about-us">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
        <div class="section">
            <h2 class="section__title">Контакты</h2>
        </div>
    </body>
</html>
