<%- include('particles/header.ejs') %>

<div class="container">
    <img class="container__image" src="/img/nature.jpeg">
    <h2 class="container__title">Природа</h2>
</div>

<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="image">
    <button type="submit" name="upload">Upload</button>
</form>

<%- include('particles/footer.ejs') %>
